langgraph
langchain-groq
langchain-community
langchain-huggingface
chromadb
pydantic
duckduckgo-search
python-dotenv
sentence-transformers
streamlit
fastapi
uvicorn
sqlalchemy
psycopg2-binary
psycopg[binary,pool]
langgraph-checkpoint-postgres
